:root {
  --primary-font: "Roboto", sans-serif;
  --primary-background-color: #ffffff;
  --primary-color: #434455;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  margin: 0 auto;
  padding: 0;
}
ul {
  list-style: none;
  font-weight: 500;
  margin: 0;
  padding-left: 0;
  display: flex;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
p {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
img {
  display: block;
  max-width: 100%;
}
div {
  display: block;
}
a {
  display: inline-block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  flex-direction: row;
}
.thumb {
  border-radius: 0%;
  overflow: hidden;
}
.link {
  text-decoration: none;
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: inline-block;
}
.list {
  font-weight: 500;
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}
.link:hover,
.link:focus {
  color: #404bbf;
}

/*Header section*/
.header-container {
  width: 1158px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header.list {
  display: flex;
  gap: 40px;
}
address {
  font-style: normal;
}

.address a {
  color: #434455;
  margin-top: 24px;
}
.nav > a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 0 24px;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  padding-right: 332px;
}
.header .list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 24px 0;
}
.header a {
  padding: 24px 0;
}
.span-studio {
  color: #2e2f42;
}
.header {
  width: 1440px;
  height: auto;
  padding: 0 15px;
  border-bottom: 1px solid #e7e9fc;
}
.link-logo {
  margin-right: 76px;
}
.container.nav {
  display: flex;
}
/*Section 1*/

.section-hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  margin-bottom: 120px;
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}
.button-hero {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  align-items: center;
  margin: 0 auto;
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

/*Section 2*/

.section-benefits {
  padding: 120px 0;
}
.section-benefits.container {
  display: flex;
}
.title-benefits {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #454425;
  content-visibility: hidden;
}
.title {
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-item {
  flex-basis: calc((100% - 72px) / 4);
}

/*Section 3*/
.section-we-are {
  padding-bottom: 120px;
}
.we-are-item {
  align-items: center;
  width: calc((100% - 48px) / 3);
}

/*Section 4*/

.title-team,
.title-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  align-items: center;
}
.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.section-team.list {
  background-color: #ffffff;
}
.title-professionals {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.text-team {
  text-align: center;
}
.text-team {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  text-align: center;
}
.list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
}
.box-team {
  padding: 32px 16px;
}
/*Footer*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.link-logo {
  display: inline-block;
  margin-bottom: 16px;
}

/*Portfolio*/

.buttons {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.button-portfolio {
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}
.list-row {
  list-style: none;
  text-decoration: none;
  row-gap: 48px;
  column-gap: 24px;
  padding-left: 0;
  padding-right: 0;
}
.title-row {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.span-studio-light {
  color: #f4f4fd;
}
.footer.studio {
  color: #f4f4fd;
}
.footer > a {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.our-works {
  padding: 96px 0 120px 0;
}
.our-works ul {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
}
.our-works div {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.our-works.container {
  display: flex;
  flex-wrap: wrap;
}
.row-item {
  flex-basis: calc((100% - 48px) / 3);
}
